html,
body {
    height: 100%;
}

.body-principal {
    background-color: black;
    height: 100%;
}

.tic-tac {
    background-color: lightgray;
    height: 100%;
}

.area-tabuleiro {
    height: 50%;
    width: 100%;
}

.tabuleiro {
    height: 100%;
    width: 33%;
    min-width: 200px;
}

.linha {
    height: 31%;
    width: 100%;
    margin-top: 3%;
}

.sub-linha {
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

.casa {
    height: 100%;
    width: 100%;
}

.peca {
    font-size: 6vw;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: grey;
}

.debug {
    background-color: black;
    height: 100%;
    width: 100%;
}

.botao {
    margin: auto;
    margin-top: 2%;
    width: 20%;
    min-width: 110px;
    margin-left: 40%;
    margin-right: 40%;
}