<div ng-controller="TicTacToeController as controller" class="col-md-12 tic-tac">
    <h2 class="text-center"> Jogo da Velha </h2>
    <h3 class="text-center" ng-bind="modoJogo"></h3>
    <h3 class="text-center" ng-bind="infoJogo"></h3>
    <h4 class="text-center text-danger" ng-bind="erro"></h4>
    <!-- tabuleiro -->
    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <div ng-repeat="linha in controller.getTab()">
                <div class="col-md-4">
                    <div ng-repeat="pos in linha" 
                         ng-click="controller.realizarJogada(pos)" 
                         class="casa" 
                         tic-tac peca="pos.peca">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Botão para limpar tabuleiro -->
    <button class="btn btn-info botao" ng-if="controller.isFinalizado()" ng-click="controller.resetar()">Resetar</button>
    <button class="btn btn-info botao" ng-click="controller.mudarTipoJogo()">Alterar modo</button>
</div>